body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

input, textarea, select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.card {
    width: 550px;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    background: url('baubles-on-snow-snowy-christmas-600nw-2496483359.webp') no-repeat ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffa500;
    position: relative;
    overflow: hidden;
    animation: fadeIn 1s ease-out;
}

.card.hidden {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.ordinary {
    color: #000000;
    font-family: 'Arial', sans-serif;
    text-shadow: none;
}

.festive {
    color: #ff0000;
    font-family: 'Brush Script MT', cursive;
    text-shadow: 2px 2px 4px #ffffff;
}

.card {
    animation: fadeIn 1s ease-out;
}
